<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <script th:replace="head">
  </script>
  <title>FindComputer - Daftar</title>
</head>
<body class="">
<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <div class="text-center mb-6">
            <h1><b><i>FindComputer</i></b></h1>
          </div>
          <form class="card" th:action="@{/register}" th:object="${user}" method="POST" enctype="multipart/form-data">
            <div class="card-body p-6">
              <div class="card-title">Buat Akun Baru</div>
              <div th:if="${(param.emailExist != null) and (param.emailExist[0] == 'true')}">
                <div class="alert alert-danger" id="emailExist" role="alert">
                  Email telah terdaftar!
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Nama</label>
                <input required th:field="*{name}" type="text" class="form-control" placeholder="Masukan nama">
              </div>
              <div class="form-group">
                <label class="form-label">Alamat</label>
                <textarea required style="min-height: 100px" th:field="*{address}" class="form-control" placeholder="Masukan alamat"></textarea>
              </div>
              <div class="form-group">
                <label class="form-label">Email</label>
                <input required th:field="*{email}" type="email" class="form-control" placeholder="Masukan eail">
              </div>

              <div class="form-group">
                <label class="form-label">Password</label>
                <input required id="password" th:field="*{password}" type="password" class="form-control" placeholder="Masukan password">
              </div>
              <div class="form-group">
                <label class="form-label">Ulang Password</label>
                <input required oninput="checkPassword()" id="repassword" th:name="repassword" type="password" class="form-control" placeholder="Masukan ulang password">
              </div>
              <div class="alert alert-danger" id="password_alert" role="alert" style="display: none">
                Password tidak sesuai!
              </div>
              <div class="form-footer">
                <button type="submit" id="btnSubmit" disabled class="btn btn-primary btn-block">Buat akun</button>
              </div>
            </div>
          </form>
          <div class="text-center text-muted">
            Sudah memiliki akun? <a th:href="login">Masuk</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var allowSubmit = false;
  var password_alert = document.getElementById("password_alert");
  var btnSubmit = document.getElementById("btnSubmit");
  function checkPassword() {
    var password = document.getElementById("password").value;
    var repassword = document.getElementById("repassword").value;
    if (repassword !== ""){
      if (repassword !== password){
        allowSubmit = false;
        password_alert.style.display = "block"
        btnSubmit.setAttribute("disabled", "disabled")
      }
      else {
        allowSubmit = false;
        password_alert.style.display = "none"
        btnSubmit.removeAttribute("disabled")
      }
    }
    else {
      password_alert.style.display = "none"
      btnSubmit.setAttribute("disabled", "disabled")
    }
  }
</script>
</body>
</html>