<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:replace="head">
    </script>
    <title>FindComputer - Masuk</title>
  </head>
  <body class="">
    <div class="page">
      <div class="page-single">
        <div class="container">
          <div class="row">
            <div class="col col-login mx-auto">
              <div class="text-center mb-6">
                <h1><b><i>FindComputer</i></b></h1>
              </div>
              <form class="card" th:action="@{/login}" th:object="${user}" method="POST">
                <div class="card-body p-6">
                  <div class="card-title">Masuk menggunakan akun Anda.</div>
                  <div th:if="${(param.loginFailed != null) and (param.loginFailed[0] == 'true')}">
                    <div class="alert alert-danger" id="loginFailed" role="alert">
                      Email atau password Anda salah!
                    </div>
                  </div>
                  <div th:if="${(param.regisSuccess != null) and (param.regisSuccess[0] == 'true')}">
                    <div class="alert alert-success" id="regisSuccess" role="alert">
                      Registrasi berhasil! Silakan masuk dengan menggunakan akun terdaftar.
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Alamat email</label>
                    <input required th:field="*{email}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukan email">
                  </div>
                  <div class="form-group">
                    <label class="form-label">
                      Password
                    </label>
                    <input required th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Masuk</button>
                  </div>
                </div>
              </form>
              <div class="text-center text-muted">
                Belum memiliki akun? <a th:href="register">Daftar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>