<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <script th:replace="head">
  </script>
  <title>FindComputer - Profil Saya</title>
</head>
<body class="">
<div class="page">
  <div class="flex-fill">
    <div th:replace="first_header"></div>
    <div th:replace="second_header"></div>
    <div class="my-3 my-md-5">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <form class="card" th:action="@{/profile/update}" method="POST" th:object="${user}">
              <input type="hidden" th:field="*{id}"/>
              <div class="card-body">
                <h3 class="card-title">Profil</h3>
                <div class="row">
                  <div class="col-md-12">
                    <div th:if="${(param.emailUsed != null) and (param.emailUsed[0] == 'true')}">
                      <div class="alert alert-danger" id="emailExist" role="alert">
                        Email telah digunakan oleh orang lain!
                      </div>
                    </div>
                    <div th:if="${(param.success != null) and (param.success[0] == 'true')}">
                      <div class="alert alert-success" id="success" role="alert">
                        Data berhasil disimpan!
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Nama</label>
                      <input type="text" class="form-control" required placeholder="Nama Anda" th:field="*{name}">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-label">Alamat email</label>
                      <input type="email" class="form-control" required placeholder="Email Anda" th:field="*{email}">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-label">Alamat</label>
                      <textarea required style="min-height: 100px" th:field="*{address}" class="form-control"
                                placeholder="Alamat Anda"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-label">Ubah kata sandi bila ingin mengubahnya.</label>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-label">Kata sandi</label>
                      <input oninput="checkPassword()" type="password" id="password" class="form-control" th:name="password" placeholder="******">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-label">Ulang kata sandi</label>
                      <input oninput="checkPassword()" type="password" id="repassword" class="form-control" th:name="repassword"
                             placeholder="******">
                    </div>
                    <div class="alert alert-danger" id="password_alert" role="alert" style="display: none">
                      Password tidak sesuai!
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-right">
                <button type="submit" id="btnSubmit" class="btn btn-primary">Update Profile</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer" th:replace="footer">
  </footer>
</div>
<script>
    var allowSubmit = false;
    var password_alert = document.getElementById("password_alert");
    var btnSubmit = document.getElementById("btnSubmit");

    function checkPassword() {
        var password = document.getElementById("password").value;
        var repassword = document.getElementById("repassword").value;

        if (password !== "") {
            if (repassword !== password) {
                allowSubmit = false;
                password_alert.style.display = "block"
                btnSubmit.setAttribute("disabled", "disabled")
            } else {
                allowSubmit = false;
                password_alert.style.display = "none"
                btnSubmit.removeAttribute("disabled")
            }
        } else {
            password_alert.style.display = "none"
            btnSubmit.removeAttribute("disabled")
        }
    }
</script>
</body>
</html>