<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse" xmlns:th="http://www.thymeleaf.org">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 ml-auto">
        <form class="input-icon my-3 my-lg-0 p-2">
          <input type="search" class="form-control header-search" placeholder="Cari…" tabindex="1" spellcheck="false" data-ms-editor="true">
          <div class="input-icon-addon">
            <i class="fe fe-search"></i>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>